@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.button {
  @apply min-w-fit h-10 flex gap-4 justify-center items-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-sky-800 dark:bg-sky-800 hover:bg-sky-900 focus:shadow-[0_0_0_2px] focus:shadow-black;
}

.blue-gradient {
  background: linear-gradient(246.32deg, #72fde4 0%, #72cbfd 100%);
}

.green-gradient {
  background: linear-gradient(246.32deg, #c4ea75 0%, #79ec93 100%);
}

.orange-gradient {
  background: linear-gradient(246.32deg, #fd7272 0%, #fdb572 100%);
}

.red-gradient {
  background: linear-gradient(246.32deg, #DF5C5C 0%, #D93A55 100%);}

.yellow-gradient {
  background: linear-gradient(246.32deg, #fdbd72 0%, #fde772 100%);
}

.pink-gradient {
  background: linear-gradient(246.32deg, #d172fd 0%, #fd72bd 100%);
}

.violet-gradient {
  background: linear-gradient(246.32deg, #72aafd 0%, #8e72fd 100%);
}
