@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.button {
  @apply min-w-fit h-10 flex gap-4 justify-center items-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-sky-800 dark:bg-sky-800 hover:bg-sky-900 focus:shadow-[0_0_0_2px] focus:shadow-black;
}

.hidden-sranie {
  display: none;
}
