body {
	/*background-color: beige;*/
	/*background-image:
		linear-gradient(to bottom, rgba(0,0,0,0.4) , rgba(0,0,0,0)),
    url('img.jpg');*/
	background-color: #141f32;
	background-size: cover;
	background-blend-mode: multiply;
	transition-duration: 0.3s;
	font-family: 	"Karla", sans-serif;
	font-size: 	18px;
}

@media screen and (max-width: 600px) {
  .btn-wrap{
  	flex-flow: column;
  }
  .heading h1{
  	font-size: 2em !important;
  }
  .subheading {
  	font-size: 15px !important;
  }
  .main-wrap{
  	margin-top: 10% !important;
  	padding-right: 5% !important;
  	padding-left: 5% !important;
  }
  .btn {
	margin-top: 1% !important;
    margin-bottom: 1% !important;
    width: 100% !important;
    flex-basis: auto!important;;
  }

  .add-habit-button{
  	/*margin-bottom: 2rem!important;*/
  	width: 100%;
  }

  .popup-card {
  	margin: 5%;
  }

  .habit-card {
	  flex-direction: column;
	  width:90%!important;
	  min-height: 300px;
  }

  .habit-card-side {
	  width: 100%!important;
	  height: 20%!important;
  }

  .habit-card-info {
	  box-sizing: border-box !important;
	  width: 100% !important;
	  height: 80%!important;
	  padding: 0 10% !important;
  }

}

.dark-overlay {
	display: 	flex;
	background-color: black;
	filter: opacity(25%);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.popup-card {
	display: 	flex;
	flex-flow: 	column;
	justify-content: 	center;
	align-items: 	center;
	width: 300px;
	background-color: 	white;
	overflow: auto;
	border-radius: 	20px;
	padding: 2em;
	z-index: 	6;
}

.popup-card ul {
	padding: 	0;
	line-height: 	30px;
}

.popup-card input{
	width: 100%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid grey;
  margin-bottom: 5px;
}

.popup-card button{
	width: 100%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid grey;
  margin-bottom: 5px;
}

.popup-overlay {
	display: none;
	opacity: 	0;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition-duration: 	0.2s;
	transition-timing-function: 	ease-in-out;
}

.habit-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition-duration: 100ms;
	transition-timing-function: 	ease-in-out;
	opacity:0;
}

.habit-card {
	display: flex;
    width: 400px;
    height: 250px;
    background-color: white;
    z-index: 3;
    border-radius: 20px;
    overflow: auto;
    position: absolute;
    box-shadow: 0 8px 5px -2px rgb(0 0 0 / 20%);
	transition: 150ms ease-in-out;
	transform-origin: center center;
	opacity: 0;
}	

/* .habit-card::before {
	  position: absolute;
    bottom: 0;
    top: 0;
    width: 200px;
    background-color: red;
    content: '';
    right: 0;
    opacity: 0.5;
} */

.habit-card-side {
	padding: 10px;
	height: 100%;
	width: 20%;
	background: var(--yellow);
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: inset -8px 0px 8px -10px #000;
}

.habit-card-info {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
}

.habit-buttons-container {
	display: flex;
	margin-top: auto;
}


.habit-buttons-container li {
	display: inline-block;
}

.habit-buttons-container li:hover {
	font-weight: 700;
	cursor: pointer;

}
 
.subheading {
	margin: 0.1em 0 0.2em 0;
	font-size: 20px;
	font-weight: 400;
}

.add-habit-button {
	justify-content: center;
	align-items: center;
	margin: 0 10px 40px 10px;
	padding: 12px 15px;
	font-size: 0.667em;
	font-family: "Klarna", sans-serif;
	font-weight: 400;
	color: var(--nav-text-color);
	letter-spacing: 0.25em;
	border: 1.5px solid var(--nav-text-color);
	border-radius: 10px;
	filter: opacity(80%);
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	user-select: none;
	text-align: center;
	box-sizing: border-box;
}

.add-habit-button:hover {
	transform: scale(1.05);
}

.add-habit-button:focus {
	transform: scale(1.05);
}

.main-wrap {
	display: flex;
    flex-flow: wrap;
    padding: 0 5%;
    margin: 0 auto;
    width: 90%;
	max-width: 700px;
	justify-content: center;
}

.btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	
}

.plus-sign {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	width: 60px;
	height: 100%;
	line-height: 10px;
	background-color: rgba(255,255,255,0.1);
	box-shadow: inset 5px 0px 8px -10px #000;
	margin-left: auto;
}

.btn {
	/*z-index: 1;*/
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 300px;
	height: 67px;
	border-radius: 15px;
	margin: 0.5%;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 27px;
	font-size: 1.5rem;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	border: 1.5px solid;
	user-select: none;
	overflow: hidden;
	box-sizing: border-box;
	flex-basis: 49%;
}

.btn-info-container {
	display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.bar-container {
	display: flex;
	width: 100%;
	height: 10px;
	background-color: white;
	margin-top: auto;
	box-shadow: inset 0px 11px 8px -10px #bbb;
}

.bar-progress {
	display: flex;
	width: 20%;
	/*border-radius: 0 5px 5px 15px;*/
	mix-blend-mode: multiply;
	border: none;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.btn-title {
	font-size: 20px;
	line-height: 10px;
	margin: 15px 0 0 15px;
}

.btn-subtitle {
	font-size: 10px;
	margin: 10px 0 0 15px;
	line-height: 10px;
}

.btn:hover {
	z-index: 1;
	filter: drop-shadow(0px 0px 5px #6e6e6e);
	transform: scale(1.05);
}

.btn:active {
	z-index: 1;
	filter: drop-shadow(0px 0px 5px #6e6e6e);
	transform: scale(1.05);
}

.btn:focus {
	z-index: 1;
	filter: drop-shadow(0px 0px 5px #6e6e6e);
	transform: scale(1.025);
}

.btn-inside {
	display: flex;
	justify-content: left;
}

.heading {
	margin-top: 3rem;
	margin-bottom: 1rem;
	letter-spacing: 0.22em;
	display: flex;
	flex-flow: column;
	justify-content:  center;
	align-items: center;
	line-height: 40px;
	font-family: 'Karla';
	color: var(--nav-text-color);
	user-select: none;
	width: 100%;
	text-align: center;
}

.heading h1 {
	font-family: "Playfair Display", serif;
	font-size: 4em;
}

.nav {
	display: flex;
	font-family: 'Karla';
	letter-spacing: 0.22em;
	color: var(--nav-text-color);
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	margin: 2.5% 0 30px 0;
	width: 100%;
}

.nav h6 {
	margin: 0 20px 0 20px;
	font-weight: 400;
}

:root {
	--nav-text-color: #fafafa;
	/*--nav-text-color: #474747;*/

	--yellow: #FFE34E;
	--yellow-text: #BEA000;
	--yellow-bdr: #EEC900;

	--teal: #23F2C1;
	--teal-text: #099574;
	--teal-bdr: #1ED8AC;

	--pink: #FF4E8E;
	--pink-text: #8E2B4F;
	--pink-bdr: #E0407A;

	--green: #00DB4A;
	--green-text: #169541;
	--green-bdr: #00DB4A;

	--grey: #707070;
	--grey-text: #BEBEBE;
	--grey-bdr: #707070;

	--blue: #4585E4;
	--blue-text: #174486;
	--blue-bdr: #417CD3;

	--purple: #A237D4;
	--purple-text: #D782FF;
	--purple-bdr: #9836C7;

	--lightblue: #4ED4FF;
	--lightblue-text: #3490AE;
	--lightblue-bdr: #47BDE3;

	--straw: #E5FF9B;
	--straw-text: #8B9E56;
	--straw-bdr: #CAE186;

	--orange: #FDB62B;
	--orange-text: #BE8517;
	--orange-bdr: #D29723;
}

.yellow {
	background-color: var(--yellow);
	color: var(--yellow-text);
	border-color: var(--yellow-bdr) !important;
}

.teal {
	background-color: var(--teal);
	color: var(--teal-text);
	border-color: var(--teal-bdr) !important;
}

.pink {
	background-color: var(--pink);
	color: var(--pink-text);
	border-color: var(--pink-bdr) !important;
}

.green {
	background-color: var(--green);
	color: var(--green-text);
	border-color: var(--green-bdr) !important;
}

.grey {
	background-color: var(--grey);
	color: var(--grey-text);
	border-color: var(--grey-bdr) !important;
}

.blue {
	background-color: var(--blue);
	color: var(--blue-text);
	border-color: var(--blue-bdr) !important;
}

.purple {
	background-color: var(--purple);
	color: var(--purple-text);
	border-color: var(--purple-bdr) !important;
}

.lightblue {
	background-color: var(--lightblue);
	color: var(--lightblue-text);
	border-color: var(--lightblue-bdr) !important;
}

.straw {
	background-color: var(--straw);
	color: var(--straw-text);
	border-color: var(--straw-bdr) !important;
}

.orange {
	background-color: var(--orange);
	color: var(--orange-text);
	border-color: var(--orange-bdr) !important;
}
