.navItem {
  @apply hover:bg-sky-50  flex h-full items-center select-none px-3 py-2 data-[active]:font-bold min-w-[6rem] justify-center  data-[active]:text-black text-neutral-500 transition-colors duration-300
}

.navItemDropdown {
  font-size: 0.875rem;
  @apply shadow-xl
}

.header {
  font-family: "PT Serif";
  max-width: 1400px;
  margin: 0 auto;
}