.formField {
  border: 1px solid;
  border-color: inherit;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  width: 100%;
  @apply border-slate-200;
}

.formlabel {
  @apply text-sm;
}

.tabContainer {
  @apply p-6 flex flex-col gap-4 data-[state=inactive]:hidden;
}

.error {
  @apply text-xs text-red-500;
}

.tab {
  @apply w-full text-sm data-[state=active]:text-neutral-900 data-[state=active]:font-medium py-3 data-[state=active]:border-neutral-700 border-transparent border-b-2 data-[state=active]:bg-white border-neutral-200;
}

.tabBar {
  @apply flex;
}

.loginBox {
  @apply bg-white rounded-md border border-slate-200 overflow-hidden pb-4;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03),
    0px 17px 38px 0px rgba(0, 0, 0, 0.03), 0px 70px 70px 0px rgba(0, 0, 0, 0.02),
    0px 157px 94px 0px rgba(0, 0, 0, 0.01),
    0px 279px 112px 0px rgba(0, 0, 0, 0.01),
    0px 436px 122px 0px rgba(0, 0, 0, 0);
}

.separator {
  @apply h-px bg-slate-300 w-full;
}
