.formField {
  border: 1px solid;
  border-color: inherit;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  width: 100%;
  @apply border-slate-200;
}

.formlabel {
  @apply text-sm;
}

.tabContainer {
  @apply p-6 flex flex-col gap-4 data-[state=inactive]:hidden;
}

.error {
  @apply text-xs text-red-500;
}

.tab {
  @apply w-full py-3 data-[state=active]:border-blue-500 border-transparent border-b-2 data-[state=active]:bg-white border-neutral-200;
}

.tabBar {
  @apply flex mb-2;
}

.loginBox {
  @apply bg-white rounded-md border border-slate-200 overflow-hidden;
}

.separator {
  @apply h-px bg-slate-300 w-full
}